# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
.history
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env


# mypy
.mypy_cache/

#ignore data na dcontents
data/
